html, body
  width 100%
  height 100%
  margin 0
  overflow hidden

body
  font-size 16px

input, button, select
  outline none
  background none
  border 0
  box-shadow none

input[type=radio], input[type=checkbox]
  margin 0
  cursor pointer

button, label
  cursor pointer
  
fieldset
  border 0

h1, h2, h3, h4, h5, h6, p
  margin 0
  font-weight normal

ul, li
  list-style none
  padding 0

b
  font-weight normal

a, button, input
  color inherit
  font-size inherit

a
  text-decoration none

*
  box-sizing border-box

.icon {
  width: 1em; 
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}