.item
  width 380px
  margin auto
  color var(--text-color)
  label
    display flex
    align-items center
    justify-content space-between
    .input-container
      position relative
      input
        border-bottom 1px solid #D8D8D8
        width 310px
        height 34px
      .hint
        color var(--error-color)
        font-size 12px
        position absolute 
        top calc(100% + 4px)